<div class="container"> <!-- Container: special class in bootstrap to center content -->
    <h1>Blocks on chain</h1>
    <p>Each card represents a block in the chain. Click on a card to see the transactions stored inside the block.</p>
    <!-- Iterate over blocks array defined in typescript file and sotre it inro variable named block-->
    <app-block-view
    *ngFor="let block of blocks"
    [block]="block"
    (click) = "showTransactions(block)"
    ></app-block-view>
</div>

<br><br>

<div class="container">
    <h1> Transactions inside the block </h1>
    <app-transactions-table>
        [transactions] = "selectedBlock.transactions"
    </app-transactions-table>
</div>